.me{

    background-color: rgb(250, 106, 57);
    transition: 1s;
    margin: auto;
    width: 290px;
    font-size: 30px;

}

p{ 
    
     background-color: rgb(250, 106, 57);
    
    width: 350px;
    position: absolute;
    font-size: 40px;

}
button{
   font-size: 30px;
   right: 700px;
   position: absolute;
}